<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.marctowler.pokemongotoolkit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation = "portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EvoActivity"
            android:label="@string/title_activity_evo"
            android:screenOrientation = "portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IVActivity"
            android:label="@string/title_activity_iv"
            android:screenOrientation = "portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EggActivity"
            android:label="@string/title_activity_egg"
            android:screenOrientation = "portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>